<footer role="contentinfo" class="footer">
    <div class="container">
        <section class="row justify-content-between">
            <div class="col-sm-12 col-md-3">
                <p class="text">Informação recolhida do PDF disponibilizado pela ANPC no seu <a href="http://www.prociv.pt/bk/RISCOSPREV/RISCOSNAT/INCENDIOSRURAIS/Documents/Triptico-V4_PT.pdf" target="_blank">website</a></p>
            </div>

            <div class="col-sm-12 col-md-3 ">
                <a href="https://beta.fogos.pt"><img src="/assets/images/logo.svg" /></a>
            </div>
        </section>
    </div>
</footer>