<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Fogos.pt">
    <title>{{site.title}}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#f09819">
    <meta name="theme-color" content="#f09819">
    <meta name="description" content="{{site.description}}">
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:url" content="https://aldeiasegura.pt">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="966421526811840">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:image" content="https://aldeiasegura.pt/assets/images/og.png">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <link rel="stylesheet" href="assets/css/main.css?v={{rev}}">

    <meta name="theme-color" content="#215048">
    <meta name="msapplication-TileColor" content="#215048">

    <meta name="keywords" content="aldeia segura, pessoas seguras, anpc, prociv, incendios, fogos, prevenção, kit incendio, proteja-se, prepare-se, incêndios rurais">

    </head>