<script src="assets/js/vendor/jquery/jquery.min.js"></script>
<script src="assets/js/vendor/aos.js"></script>
<script src="assets/js/main.js?v={{rev}}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120521327-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120521327-1');
</script>

<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="d015677f-446b-4969-8726-111d873ec611" type="text/javascript" async></script>
