{% assign rev = site.time | date: '%s' %}
<!DOCTYPE html>
<html lang="en-US" class="{{page.class}}">
{% include head.html %}
<body class="">
{% include svg.html %}
<main id="main" class="d-flex flex-column container">
    <section class="heading row">
        <div data-aos="fade-right" class="col-sm-12 col-md-8 agas">
            <h1>Aldeia Segura Pessoas Seguras</h1>
            <h2>Prepare-se e Proteja-se dos Incêndios Rurais</h2>
        </div>
        <div data-aos="fade-left" class="col-sm-12 col-md-4 text-center">
            <img class="img-fluid" src="assets/images/logo-02.png" alt="logo"/>
        </div>
    </section>

    <section class="topic row">
        <div class="col-sm-12 col-md-6 mobile-m">
            <div class="row">
                <div class="col-sm-12 col-md-4 text-center">
                    <img data-aos="flip-right" class="img-fluid" src="assets/images/topic-1.png"
                         alt="Se um incêndio se aproximar de sua casa"/>
                </div>

                <div data-aos="zoom-in" class="col-sm-12 col-md-8 topic-title">
                    <h2>Se um incêndio se aproximar de sua casa</h2>
                </div>
            </div>

            <div data-aos="zoom-in" class="row reasons">
                <ul>
                    <li>Avise os vizinhos</li>
                    <li>Regue paredes, telhado e 10 metros à volta de casa</li>
                    <li>Feche portas, janelas e outras aberturas, corra as persianas ou portadas</li>
                    <li>Retire mobiliário, lonas ou lenhas próximas da habitação</li>
                    <li>Caso tenha condições de segurança, desligue e retire as botijas de gás para um local seguro</li>
                    <li>Afaste o que possa arder junto às janelas e coloque toalhas molhadas nas frestas</li>
                    <li>Se não correr perigo, apague pequenos focos de incêndio com água, terra ou ramos verdes</li>
                </ul>
            </div>

            <footer data-aos="zoom-in" class="row footer">
                <div class="col-12">
                    <h3>SIGA AS INDICAÇÕES DAS AUTORIDADES E DO OFICIAL DE SEGURANÇA LOCAL</h3>
                </div>
            </footer>
        </div>

        <div class="col-sm-12 col-md-6 mobile-m">
            <div class="row">
                <div class="col-sm-12 col-md-3 text-center">
                    <img data-aos="flip-right" class="img-fluid topic3" src="assets/images/topic-3.png"
                         alt="Se ficar cercado por um incêndio"/>
                </div>

                <div data-aos="zoom-in" class="col-sm-12 col-md-9 topic-title">
                    <h2>Se ficar cercado por um incêndio</h2>
                </div>
            </div>

            <div data-aos="zoom-in" class="row reasons">
                <ul>
                    <li>Dirija-se para um abrigo ou refúgio coletivo. Se não estiver próximo, procure uma zona
                        preferencialmente plana, com água ou com pouca vegetação
                    </li>
                    <li>Respire junto ao chão, se possível através de um pano molhado, para evitar inalar o fumo</li>
                    <li>Cubra a cabeça e o resto do corpo</li>
                    <li>Utilize um lenço húmido para proteger a cara do calor e dos fumos</li>
                </ul>
            </div>

            <footer data-aos="zoom-in" class="row footer">
                <div class="col-12">
                    <h3>COMUNIQUE A SUA SITUAÇÃO ÀS AUTORIDADES, ATRAVÉS DO 112</h3>
                </div>
            </footer>
        </div>

    </section>

    <section class="topic row">
        <div class="col-sm-12 col-md-6 mobile-m">
            <div class="row">
                <div class="col-sm-12 col-md-4 text-center">
                    <img data-aos="flip-right" class="img-fluid" src="assets/images/topic-2.png"
                         alt="Em caso de confinamentona habitação"/>
                </div>

                <div data-aos="zoom-in" class="col-sm-12 col-md-8 topic-title">
                    <h2>Em caso de confinamento na habitação</h2>
                </div>
            </div>

            <div data-aos="zoom-in" class="row reasons">
                <ul>
                    <li>Mantenha a calma</li>
                    <li>Afaste as cortinas e sofás que estejam junto às janelas</li>
                    <li>Feche portas, janelas e outras aberturas que possibilitem a entrada de faúlhas para o interior
                    </li>
                    <li>Coloque toalhas molhadas nas frestas das portas e janelas</li>
                    <li>Fique longe das paredes</li>
                    <li>Procure abrigo nas divisões do extremo oposto da habitação em relação ao lado por onde o
                        incêndio se está a aproximar
                    </li>
                    <li>Espere que o fogo passe e, posteriormente, verifique a existência de focos de incêndio na
                        envolvente da habitação e no seu telhado
                    </li>
                </ul>
            </div>


            <footer data-aos="zoom-in" class="row footer">
                <div class="col-12">
                    <h3>COMUNIQUE A SUA SITUAÇÃO ÀS AUTORIDADES, ATRAVÉS DO 112</h3>
                </div>
            </footer>
        </div>

        <div class="col-sm-12 col-md-6 mobile-m">
            <div class="row">
                <div class="col-sm-12 col-md-4 text-center">
                    <img data-aos="flip-left" class="img-fluid" src="assets/images/topic-4.png"
                         alt="Se um incêndio se aproximar de sua casa"/>
                </div>

                <div data-aos="zoom-in" class="col-sm-12 col-md-8 topic-title">
                    <h2>Em caso de evacuação</h2>
                </div>
            </div>

            <div data-aos="zoom-in" class="row reasons">
                <ul>
                    <li>Mantenha a calma e cumpra as indicações das autoridades</li>
                    <li>Ajude as crianças, idosos e pessoas com limitações de mobilidade</li>
                    <li>Leve o seu kit de evacuação e documentos de identificação</li>
                    <li>Não perca tempo a recolher objetos desnecessários e não volte atrás</li>
                    <li>Feche as portas e janelas à medida que sai para fora da habitação</li>
                    <li>Leve consigo os animais de companhia</li>
                    <li>Dirija-se rapidamente ao local de abrigo ou refúgio coletivo mais próximo</li>
                    <li>Dirija-se para um abrigo ou refúgio coletivo. Se não estiver próximo, procure uma zona
                        preferencialmente plana, com água ou com pouca vegetação
                    </li>
                    <li>Respire junto ao chão, se possível através de um pano molhado, para evitar inalar o fumo</li>
                    <li>Cubra a cabeça e o resto do corpo</li>
                    <li>Utilize um lenço húmido para proteger a cara do calor e dos fumos</li>
                    <li>Mantenha a calma e cumpra as indicações das autoridades</li>
                    <li>Ajude as crianças, idosos e pessoas com limitações de mobilidade</li>
                    <li>Leve o seu kit de evacuação e documentos de identificação</li>
                    <li>Não perca tempo a recolher objetos desnecessários e não volte atrás</li>
                    <li>Feche as portas e janelas à medida que sai para fora da habitação</li>
                </ul>
            </div>


            <footer data-aos="zoom-in" class="row footer">
                <div class="col-12">
                    <h3>CUMPRA AS INDICAÇÕES DAS AUTORIDADES E DO OFICIAL DE SEGURANÇA LOCAL</h3>
                </div>
            </footer>
        </div>
    </section>

    <section class="kit row">
        <div class="col-sm-12 col-md-6 mobile-m">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                    <img data-aos="flip-left" class="img-fluid" src="assets/images/kit.png"
                         alt="Tenha preparado um kit de evacuação com:"/>
                </div>
            </div>

            <div class="row mt-2">
                <div data-aos="zoom-in" class="col-sm-12 col-md-12 topic-title">
                    <h2>Tenha preparado um kit de evacuação com:</h2>
                </div>
            </div>

            <div data-aos="zoom-in" class="row reasons">
                <ul>
                    <li>Um estojo de primeiros socorros</li>
                    <li>A sua medicação habitual</li>
                    <li>Água e comida não perecível</li>
                    <li>Produtos de higiene pessoal</li>
                    <li>Uma muda de roupa</li>
                    <li>Rádio, lanterna e apito</li>
                    <li>Dinheiro</li>
                    <li>Lista de contactos de familiares/amigos</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 mobile-m">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                    <img data-aos="flip-right" class="img-fluid" src="assets/images/topic-5.png"
                         alt="Tenha preparado um kit de evacuação com:"/>
                </div>
            </div>

            <div class="row mt-2">
                <div data-aos="zoom-in" class="col-sm-12 col-md-12 topic-title">
                    <h2>Se estiver próximo de um incêndio</h2>
                </div>
            </div>

            <div data-aos="zoom-in" class="row reasons">
                <ul>
                    <li>Ligue de imediato para o 112</li>
                    <li>Se não correr perigo e possuir vestuário adequado, tente extinguir pequenos focos com pás, enxadas ou ramos</li>
                    <li>Evite a exposição ao fumo, tape a boca e o nariz com um pano húmido</li>
                    <li>Proteja o corpo das chamas e do calor com vestuário seco e comprido</li>
                    <li>Não prejudique a ação dos Bombeiros, Sapadores</li>
                    <li>Florestais e outras forças de socorro e siga as suas instruções</li>
                    <li>Retire a sua viatura dos caminhos de acesso ao incêndio</li>
                    <li>Se notar a presença de pessoas com comportamentos de risco, informe as autoridades</li>
                    <li>Evite circular em zonas próximas de incêndios</li>
                </ul>
            </div>

        </div>
    </section>

    <section class="green-bg">
        <div class="row">
            <div class="col-12 heading">
                <h2>Divulgue estes conselhos junto da sua família e comunidade</h2>
                <h3>Informe-se sobre os caminhos de evacuação e os locais de abrigo ou refúgio coletivo da sua área de residência.</h3>
            </div>
        </div>

        <div class="row warning">
            <div class="col-sm-12 col-md-6">
                <p>EM CASO DE INCÊNDIO</p>
                <p>LIGUE DE IMEDIATO</p>
                <p class="call"><a href="tel:112"><i class="fa fa-phone" aria-hidden="true"></i> 112</a></p>
            </div>
        </div>
    </section>

    <section class="landscape">
        <div class="row">
            <img data-aos="zoom-in" class="img-fluid" src="assets/images/landscape.png" alt="landscape" />
        </div>
    </section>

</main>
{% include footer.html %}
{% include js.html %}
</body>
</html>